::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

.activeNav {
  color: var(--main-pink) !important;
}

.shadow {
  background: #c7c7c7 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 15px #00000029;
  border-radius: 10px;
  opacity: 1;
  /* min-height: 350px; */
}

[data-icon-type] {
  cursor: pointer;
}

/* time slots table navs */
.nav-tabs .nav-link {
  color: #707070;
  font-weight: normal;
}

.nav-tabs [aria-selected="true"] {
  color: var(--main-pink) !important;
  font-weight: bolder;
}

/* end of time slots table navs */

div > p + i[data-icon-type]:hover {
  font-weight: bold;
  color: black;
}

[data-icon-type="plus"],
[data-icon-type="check"],
[data-icon-type="cancel"] {
  font-size: 1.2rem;
}

[data-icon-type="house"] {
  font-size: 1.5rem;
}

i[data-icon-type="delete"] {
  color: var(--main-pink);
}

.draft {
  color: var(--main-pink);
}

.dangerBtn {
  background-color: var(--main-pink);
  color: #ffffff;
}

.dangerBtn:hover,
.dangerBtn:focus {
  background-color: #b30036;
  color: #ffffff;
}

.dangerBtn:disabled {
  background-color: #af677c;
  color: #ffffff;
}

.primaryBtn {
  background-color: #2699fb;
  color: #ffffff;
}

.primaryBtn:disabled {
  background-color: #82a8ca;
  color: #ffffff;
}

.available {
  background-color: #2699fb;
  color: #ffffff;
}

.profileImage {
  border: 2px solid #707070;
  height: 250px;
  width: 250px;
  background-color: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 6px #00000029, 0px 3px 6px #00000029;
  opacity: 1;
}

.roundBorder {
  border-radius: 8px;
  border: 0;
}

input.roundBorder,
textarea.roundBorder,
select.roundBorder {
  background: #f5f6fa 0% 0% no-repeat padding-box;
  border: 2px solid #cbcbcb;
  opacity: 1;
}

.modal-content {
  border-radius: 8px;
  border: 0;
}

.no-stretch {
  width: 1%;
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  .profileImage {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .profileImage {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .profileImage {
    height: 210px;
    width: 210px;
  }
}
