::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

[data-icon-type] {
  cursor: pointer;
}

.table-responsive,
.table-placeholder {
  min-height: 250px;
}

/* time slots table navs */
.nav-tabs .nav-link {
  color: #707070;
  font-weight: normal;
}

.nav-tabs [aria-selected="true"] {
  color: var(--main-pink) !important;
  font-weight: bolder;
}

.booked {
  background-color: var(--main-pink) !important;
}

.expired {
  background-color: #6c757d !important;
}
/* end of time slots table navs */

/* refresh icon circular arrow */
[data-icon-type="refresh"] {
  font-size: 1.4rem;
}

.rotate {
  animation: rotation 1s infinite linear;
  color: var(--main-pink);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* end of refresh icon circular arrow */

div > p + i[data-icon-type]:hover {
  font-weight: bold;
  color: black;
}

[data-icon-type="plus"],
[data-icon-type="check"],
[data-icon-type="cancel"],
[data-icon-type="eye"],
[data-icon-type="eyeSlash"],
[data-icon-type="bar"],
[data-icon-type="barFill"] {
  font-size: 1.2rem;
}

[data-icon-type="sun"] {
  color: yellow;
  font-size: 1.5rem;
}

[data-icon-type="moon"] {
  color: #f4f6f0;
  font-size: 1.4rem;
}

[data-icon-type="house"] {
  font-size: 1.5rem;
}

i[data-icon-type="delete"],
.bi-bar-chart-fill {
  color: var(--main-pink);
}

.draft {
  color: var(--main-pink);
}

.dangerBtn {
  background-color: var(--main-pink);
  color: #ffffff;
}

.dangerBtn:hover,
.dangerBtn:focus {
  background-color: #b30036;
  color: #ffffff;
}

.dangerBtn:disabled {
  background-color: #af677c;
  color: #ffffff;
}

.primaryBtn {
  background-color: #2699fb;
  color: #ffffff;
}

.primaryBtn:disabled {
  background-color: #82a8ca;
  color: #ffffff;
}

.available {
  background-color: #2699fb;
  color: #ffffff;
}

.profileImage {
  border: 2px solid #707070;
  height: 250px;
  width: 250px;
  background-color: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 6px #00000029, 0px 3px 6px #00000029;
  opacity: 1;
}

.roundBorder {
  border-radius: 8px;
  border: 0;
}

input.roundBorder,
textarea.roundBorder,
select.roundBorder {
  background: #f5f6fa 0% 0% no-repeat padding-box;
  border: 2px solid #cbcbcb;
  opacity: 1;
}

.modal-content {
  border-radius: 8px;
  border: 0;
}

.no-stretch {
  width: 1%;
  white-space: nowrap;
}

@media only screen and (max-width: 576px) {
  .profileImage {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .profileImage {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .profileImage {
    height: 210px;
    width: 210px;
  }
}
