.nav-link.active {
  color: #ff0066c9 !important;
}

.shadow {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 15px #00000029;
  border-radius: 10px;
  opacity: 1;
}

[data-icon-type] {
  cursor: pointer;
}

div > p + i[data-icon-type]:hover {
  font-weight: bold;
  color: black;
}

[data-icon-type="plus"] {
  font-size: 1.2rem;
}

i[data-icon-type="delete"] {
  color: #ff0066c9;
}
