@import url("bootstrap-icons/font/bootstrap-icons.css");

:root {
  --main-pink: #ff0066c9;
  --main-blue: #2699fb;
  --nav-blue: #1a2943;
  --main-bg-color-light: #f0f0f0;
  --main-bg-color-dark: #2b3346;
  --shadow-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  min-height: 100vh;
  position: relative;
}

.dark {
  background-color: var(--main-bg-color-dark);
}

.light {
  background-color: var(--main-bg-color-light);
}

.shadow {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 15px #00000029;
  border-radius: 10px;
  opacity: 1;
}

.shadow-dark {
  background: #c7c7c7 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 15px #00000029;
  border-radius: 10px;
  opacity: 1;
}

main {
  padding-top: 5rem;
  height: 100%;
  padding-bottom: 10rem;
}

header,
footer {
  background-color: var(--nav-blue);
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
